table.section-table {
  &.full-width {
    width: 100%;
    table-layout: fixed;
  }
  width: initial;
  * {
    border: none;
  }
  >thead {
    background-color: transparent;
    border-top: thin solid black;
    * {
      cursor: pointer;
    }
    >tr {
      >th.section-toggle {
        width: 36px;
        >.icon.icon-play {
          display: block;
          &.open {
            transform: rotate(90deg);
          }
        }
      }
      >th.section-title {
        font-weight: bold;
      }
    }
  }
  >tbody {
    tr.section-row {
      >th.row-label {
        text-align: right;
      }
      >td.row-data {
        padding: 2px 0px;
      }
    }
  }
}
