div.container {
  width:  100%;
  height: 100%;
  &.layout-vertical {
    display:        flex;
    flex-direction: column;
  }
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.icon.spinning {
  animation-name:            spinning;
  animation-duration:              2s;
  animation-timing-function:   linear;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.icon.blinking {
  animation-name:            blinking;
  animation-duration:              1s;
  animation-timing-function:   linear;
  animation-iteration-count: infinite;
}
