@import '../vendor/photon/css/photon.css';
@import './theme/grid.scss';
@import "./theme/layout.scss";
@import "./theme/button.scss";
@import "./theme/tables.scss";
@import "./components/fastq-drop.scss";
@import "./components/job-detail.scss";
@import "./components/job-index.scss";
@import "./components/loading-indicator.scss";
@import "./components/section-table.scss";
@import "./components/setting-section.scss";
@import "./components/dialog.scss";
@import "./components/workflow.scss";

// TODO: separate
code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: .25rem;
}

// Extends
.list-group-item {
  display: flex;
  align-items: center;
}
